.tipo-cadastro {
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.tipo-cadastro h4 {
  display: flex;
  justify-content: center;

  margin-bottom: 10px;
  font-weight: 300;
  color: rgba(var(--cor-black), 1);
}

.tipo-cadastro input {
  width: 50px;
  margin-bottom: 6px;
  min-height: 10px;
}

.tipo-cadastro label {
  display: flex;
  align-items: center;
  color: rgba(var(--cor-black), 1);
}

.tipo-cadastro .cliente,
.tipo-cadastro .estudante,
.tipo-cadastro .escritorio {
  display: flex;
}

.login form .bottom {
  color: rgba(var(--cor-black), 1);
  text-shadow: 1px 1px 1px rgba(var(--cor-white), 1);
}
