.process-details {
  display: flex;
  position: absolute;

  width: 100vw;
  height: calc(100vh - 40px);
  background-color: rgba(28, 28, 27, 0.8);

  z-index: 1;
}

.process-details .container-process {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.process-details .container-process .chart-process {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 40%;
  min-width: 600px;

  padding: 40px;
  border-radius: 10px;
  border: 1px solid rgba(var(--cor-purple), 1);

  background-color: rgba(var(--cor-white), 1);
}

.process-details .container-process .chart-process img {
  position: absolute;
  width: 25px;
  top: 14px;
  right: 14px;
  cursor: pointer;
}

.process-details .container-process .chart-process h3 {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 30px;
  width: 100%;
  border-radius: 5px;

  color: rgba(var(--cor-black), 1);
  background-color: rgba(var(--cor-purple), 0.6);
}

.process-details .container-process .chart-process ul {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 90%;
  border-radius: 5px;

  list-style: none;
  background-color: rgba(var(--cor-purple), 0.2);
}

.process-details .container-process .chart-process ul li {
  width: 80%;
  height: 20px;
  margin-top: 10px;

  font-family: "fonte";
  color: rgba(var(--cor-black), 1);
}

.process-details .container-process .chart-process ul p {
  display: flex;
  align-items: center;

  width: 80%;
  height: 24px;

  padding-left: 10px;
  border-radius: 5px;

  color: rgba(28, 28, 27, 1);
  background-color: rgba(254, 254, 254, 0.8);
}

.process-details .container-process .chart-process ul p:last-of-type {
  align-items: normal;
}

.process-details .container-process .chart-process ul .infos {
  height: 90px;
  margin: 10px 0;

  text-overflow: ellipsis;
  overflow-y: auto;
}
