.toast {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90px;
  width: 300px;

  top: calc(50% - 45px);
  left: calc(50% - 150px);

  padding-left: 15px;

  border-radius: 10px;
  background-color: rgba(var(--cor-white), 0.9);
  border: 1px solid rgba(var(--cor-white), 1);
  color: rgba(var(--cor-white), 1);

  z-index: 1;
}

.toast p {
  font-family: "fonte";
  font-weight: 600;
  font-size: 18px;
}
