.financeiro-process {
  display: flex;
  position: absolute;
  justify-content: center;

  width: 100vw;
  height: calc(100vh - 40px);
  background-color: rgba(var(--cor-preto), 0.8);

  z-index: 1;
}

.financeiro-process .container-process {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 1100px;
  max-width: 1500px;
  width: 1300px;
  height: 100%;
}

.financeiro-process .chart-process {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  height: 80%;
  min-height: 650px;
  width: 80%;
  min-width: 600px;

  padding: 40px;
  border-radius: 10px;

  background-color: rgba(var(--cor-branco), 0.9);
}

.financeiro-process .chart-process img {
  position: absolute;
  width: 25px;
  top: 14px;
  right: 14px;
  cursor: pointer;
}

.financeiro-process .content {
  height: 100%;
  width: 100%;
}

.financeiro-process .content form {
  height: 100%;
  width: 100%;
  background-color: rgba(var(--cor-roxo), 0.2);
  border-radius: 10px;
}

.financeiro-process h3 {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 30px;
  width: 100%;
  border-radius: 5px;

  background-color: rgba(var(--cor-roxo), 0.6);
}

.financeiro-process .financeiro {
  display: flex;
  width: 100%;
  height: calc(100% - 30px - 50px);
}

.financeiro-process .financeiro label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0 5px;
  font-family: "fonte";
  font-weight: 600;
}

.financeiro-process .financeiro input {
  height: 26px;
  padding-left: 10px;
  border-radius: 10px;
}

.financeiro-process .financeiro .entrada,
.financeiro-process .financeiro .parcelamento,
.financeiro-process .financeiro .final {
  width: calc(100% / 3);
}

.financeiro-process .financeiro .entrada .valor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.financeiro-process .financeiro .entrada .valor input,
.financeiro-process .financeiro .entrada .valor output {
  width: 50%;
}

.financeiro-process .financeiro .parcelamento {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.financeiro-process .financeiro .parcelamento .container1 {
  display: flex;
  width: 100%;
}

.financeiro-process .financeiro .parcelamento .container1 div {
  width: 50%;
}

.financeiro-process .financeiro .parcelamento .container1 input,
.financeiro-process .financeiro .parcelamento .container1 output {
  width: 96%;
  min-width: 131px;
}

.financeiro-process .financeiro .parcelamento .top {
  display: flex;
  width: 100%;
}

.financeiro-process .financeiro .parcelamento .top div {
  width: 100%;
}

.financeiro-process .financeiro .parcelamento .top .primeira {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.financeiro-process .financeiro .parcelamento .top div input {
  width: 96%;
  min-width: 131px;
  margin-bottom: 7px;
}

.financeiro-process .financeiro .parcelamento .bot {
  display: flex;
  width: 100%;
  max-height: 350px;
}

.financeiro-process .financeiro .parcelamento .bot li {
  list-style: none;
}

.financeiro-process .financeiro .parcelamento .bot input,
.financeiro-process .financeiro .parcelamento .bot output {
  width: 96%;
  margin-bottom: 5px;
}

.financeiro-process .financeiro .parcelamento .bot .todas,
.financeiro-process .financeiro .parcelamento .bot .pagas {
  width: 50%;
  margin-bottom: 5px;
  overflow: auto;
  overflow-x: hidden;
}

.financeiro-process .financeiro .final {
  display: flex;
}

.financeiro-process .financeiro .final .porcentagem {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.financeiro-process .financeiro .final .porcentagem input {
  width: 96%;
}

.financeiro-process .financeiro .final .total {
  display: flex;
  flex-direction: column;
}

.financeiro-process .financeiro .final .total {
  width: 50%;
}

.financeiro-process .financeiro .final .total div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.financeiro-process output {
  display: flex;
  align-items: center;

  width: 96%;
  height: 26px;

  padding-left: 10px;
  border-radius: 10px;
  background-color: rgba(var(--cor-branco), 0.9);
}

.financeiro-process button {
  width: 140px;
  height: 32px;
  margin-bottom: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: ease-in-out .1s;
}

.financeiro-process button:hover {
  background-color: rgba(var(--cor-preto), 0.1);
}
