.full-screen {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 40px);
    background-color: rgba(25, 25, 24, 0.8);
    z-index: 1;
}

.full-screen .confirm {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 300px;
  padding: 20px;

  border-radius: 10px;
  background-color: rgba(var(--cor-white), 1);
  border: 1px solid rgba(255, 255, 0, 0.8);
}

.full-screen .confirm img {
    width: 50px;
}

.full-screen .confirm p {
  margin: 20px 0;

  font-family: "fonte";
  font-size: 18px;
  color: rgba(var(--cor-yellow), 1);
  text-shadow: 1px 1px 1px rgba(var(--cor-black), 1);
}

.full-screen .confirm .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 240px;
}

.full-screen .confirm .buttons button {
    height: 33px;
    width: 110px;

    border-radius: 10px;
    border: 1px solid rgba(var(--cor-black), 0.8);

    font-family: "fonte";
    font-size: 16px;
    cursor: pointer;
}

.full-screen .confirm .buttons button:hover {
    background-color: rgba(var(--cor-white), .5);
}
