@font-face {
  font-family: "fonte";
  src: url(./fonts/AbhayaLibre-Medium.ttf) format("truetype"),
    url(./fonts/AbhayaLibre-Regular.ttf) format("truetype"),
    url(./fonts/AbhayaLibre-SemiBold.ttf) format("truetype");
}

:root {
  --font-size-small: 1rem;
  --font-size-medium: 1.3rem;
  --font-size-large: 2rem;
  --font-size-biggest: 3rem;

  --font-type1: "fonte", sans-serif;
}
