* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-geral {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.body-geral-light {
  background-image: url(assets/textura-marmore.jpg);
  transition: ease-in-out .2s;

  --cor-purple: 102, 36, 131;
  --cor-black: 28, 28, 27;
  --cor-pink: 231, 29, 115;
  --cor-white: 254, 254, 254;
  --cor-yellow: 255, 255, 0;
  --cor-green: 0, 128, 0;
  --cor-red: 255, 0, 0;
}

.body-geral-dark {
  background-image: url(assets/marmore-preto-roxo.jpg);
  transition: ease-in-out .2s;

  --cor-purple: 231, 29, 115; /* pink */
  --cor-black: 254, 254, 254; /* white */
  --cor-pink: 102, 36, 131; /* purple */
  --cor-white: 28, 28, 27; /* black */
  --cor-yellow: 255, 255, 0;
  --cor-green: 0, 128, 0; 
  --cor-red: 255, 255, 0; /* yellow */
}

