.register-client {
  display: flex;
  position: absolute;

  width: 100vw;
  height: calc(100vh - 40px);
  background-color: rgba(28, 28, 27, 0.8);

  z-index: 1;
}

.register-client label {
  color: rgba(var(--cor-black), 1);
}

.register-client .container-client {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.register-client .container-client .chart-client {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  height: 760px;
  width: 70%;
  min-width: 1000px;

  padding: 40px;
  border-radius: 10px;
  border: 1px solid rgba(var(--cor-purple), 1);

  background-color: rgba(var(--cor-white), 1);
}

.register-client .container-client .chart-client img {
  position: absolute;
  width: 25px;
  top: 14px;
  right: 14px;
  cursor: pointer;
}

.register-client .container-client .chart-client h3 {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 30px;
  width: 100%;
  border-radius: 5px;

  color: rgba(var(--cor-black), 1);
  background-color: rgba(var(--cor-purple), 0.6);
}

.register-client .container-client .chart-client form {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 96%;
  min-width: 90%;
  border-radius: 5px;

  list-style: none;
  background-color: rgba(var(--cor-purple), 0.2);
}

.register-client .container-client .chart-client form .formulario {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  margin-top: 10px;
}

.register-client .container-client .chart-client form .formulario .container1,
.register-client .container-client .chart-client form .formulario .container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.register-client .container-client .chart-client form .formulario .pessoal,
.register-client .container-client .chart-client form .formulario .contato,
.register-client form .formulario .dados-pessoais,
.register-client .container-client .chart-client form .formulario .social,
.register-client .container-client .chart-client form .formulario .address,
.register-client .container-client .chart-client form .formulario .financeiro {
  width: 90%;
  margin-bottom: 20px;
}

.register-client .container-client .chart-client form .formulario h4 {
  display: flex;
  justify-content: center;

  margin-bottom: 2px;
  font-size: 19px;
  color: rgba(var(--cor-black), 1);
}

.register-client form .formulario .dados-pessoais .dados-pessoais-container,
.register-client form .formulario .pessoal-container1,
.register-client form .formulario .contato-container,
.register-client form .formulario .social .social-container2,
.register-client form .formulario .address .container0 {
  display: flex;
  margin-top: 5px;
}

.register-client form .formulario .pessoal .pessoal-container0,
.register-client form .formulario .social .social-container1,
.register-client form .formulario .address .container3 {
  padding: 0 10px 0 0;
}

.register-client form .formulario .dados-pessoais .dados-pessoais-container div,
.register-client form .formulario .pessoal-container1 div,
.register-client form .formulario .contato-container div,
.register-client form .formulario .social .social-container2 div,
.register-client form .formulario .address .container1,
.register-client form .formulario .address .container2 {
  width: 50%;
  padding: 0 10px 0 0;
}

.register-client form .formulario .financeiro .financeiro-container {
  margin-top: 5px;
}

.register-client form .formulario .financeiro .financeiro-container label {
  margin-right: 8px;
  color: rgba(var(--cor-black), 1);
}

.register-client form .formulario .financeiro .financeiro-container p {
  display: flex;
  align-items: center;
  width: 100px;
  height: 26px;
  margin-top: 5px;
  border-radius: 10px;
  padding-left: 6px;
  background-color: rgba(244, 244, 244, 0.8);
}

.register-client .container-client .chart-client form .credenciais {
  width: 90%;
}

.register-client form .credenciais .creden-content {
  display: flex;
  align-items: center;
  margin-top: -10px;
  width: 100%;
}

.register-client form .credenciais .tipo-cadastro {
  width: 50%;
}

.register-client .container-client .chart-client form .credenciais .senha {
  margin-top: 8px;
}

.register-client .container-client .chart-client form .credenciais input,
.register-client .container-client .chart-client form .credenciais select,
.register-client .container-client .chart-client form .credenciais p {
  width: 100%;
  background-color: rgba(244, 244, 244, 1);
}

.register-client .container-client .chart-client form .credenciais select {
  height: 24px;
  margin-top: 3px;
  padding-left: 10px;
  border-radius: 6px;
}

.register-client .container-client .chart-client form input {
  display: flex;
  align-items: center;

  width: 100%;
  height: 24px;

  margin: 2px 0 6px;
  padding-left: 10px;
  border-radius: 5px;
}

.register-client .container-client .chart-client form .infos {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 160px;
  width: 100%;
  margin-bottom: 10px;
}

.register-client .container-client .chart-client form .infos label {
  font-size: 17px;
  margin-bottom: 3px;
  color: rgba(var(--cor-black), 1);
}

.register-client .container-client .chart-client form .infos textarea {
  display: flex;
  align-items: center;

  width: 80%;
  height: 100%;

  border: 1px solid rgba(var(--cor-black), 1);
  padding: 4px 14px;
  border-radius: 5px;

  background-color: rgba(244, 244, 244, 1);
}

.register-client .container-client .chart-client form span {
  margin-bottom: 5px;
  color: rgba(var(--cor-red), 1);
}

.register-client .container-client .chart-client form button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  width: 140px;
  margin-bottom: 14px;
  border-radius: 10px;

  cursor: pointer;
}

.register-client .container-client .chart-client form button:hover {
  background-color: rgba(var(--cor-black), 0.16);
}
